* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", serif;
  line-height: 1.5;
  background-color: #fff;
}

button {
  text-align: center;
  width: 250px;
  height: 55px;
  font-size: 20px;
  font-weight: 700;
  line-height: 27.32px;
}

/* NAVBAR SECTION ------------ */

header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 90px;
  /* background-color: #000; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 30px 50px; */
  border-bottom: 1px solid 0px 4px 4px 0px #0000000d;
  box-shadow: 0px 4px 1px -4px #0000000d;
  height: 100%;
  width: 90%;
  margin: auto;
  max-width: 1200px;
}

.hamburger {
  display: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.navbar .hamburger .line {
  width: 30px;
  height: 3px;
  margin: 5px;
  background-color: #373737;
  transition: all 0.3s ease;
}
.logo img {
  width: 169.85px;
  height: 23px;
}

.navlinks ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 27.32px;
}

.navlinks ul li {
  list-style-type: none;
  position: relative;
  transition: display 0.15;
}
.navlinks ul li a {
  text-decoration: none;
  padding: 0 27px;
  color: #636363;
  display: flex;
  text-align: left;
  gap: 16px;
  transition: color 0.15s;
}
.navlinks ul li a:hover {
  color: #6fc247;
}

.navlinks ul li:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #d7d7d7;
  margin-top: 10px;
}

.dropdown-menu ul {
  display: block;
  margin: 10px;
}

.dropdown-menu ul li {
  width: 150px;
  padding: 10px;
  text-align: center;
  color: #fff;
}

.dropdown-menu ul li a {
  color: #000;
}
.navlinks ul li a img:hover .dropdown-menu {
  display: block;
}

.btn-primary {
  background-color: #6fc247;
  color: #fff;
  border: none;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 12px 20px 12px 20px;
  transition: box-shadow 0.15s;
}
.btn-primary:hover {
  box-shadow: 8px 8px 10px rgba(111, 194, 71, 0.15);
}

.btn-primary img {
  margin-left: 7px;
}
/* HERO SECTION --------------- */
.hero {
  padding-top: 150px;
}
.hero-header {
  font-size: 64px;
  font-weight: 800;
  line-height: 87.42px;
  text-align: center;
  color: #373737;
  padding: 40px;
  margin: 0 auto;
  max-width: 1000px;
}

.hero-sub-header {
  font-size: 24px;
  font-weight: 500;
  line-height: 43.2px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  margin-top: 46px;
  gap: 32px;
}

.btn-light {
  background-color: #fff;
  color: #6fc247;
  border: 1px solid #6fc247;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 12px 20px 12px 20px;
  transition: box-shadow 0.15s;
}

.btn-light:hover {
  box-shadow: 8px 8px 10px rgba(111, 194, 71, 0.15);
}

.hero-img {
  width: 800px;
  margin: 0 auto;
  margin-top: 46px;
}
.hero-img img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

/* Trusted by SECTION -------- */
.trusted-by {
  padding: 0px 115px 0px 115px;
  gap: 32px;
  margin-top: 30px;
}

.trusted-by-header {
  font-size: 32px;
  font-weight: 800;
  line-height: 43.71px;
  text-align: center;
  color: #373737;
}

.trusted-by-sub-header {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

.trusted-by-text {
  gap: 16px;
}

.companies {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* justify-content: center; */
  gap: 24px;
}

.company-logo {
  margin: 10px auto;
}
.company-logo img {
  width: 170px;
  height: 64px;
  background: #f9f9f9;
  object-fit: contain;
}

/* why-valutico section------- */
.why-valutico {
  margin-top: 50px;
  padding: 72px 103px 72px 103px;
  gap: 10px;
  background: #111111;
  color: #fff;
}

.why-valutico-intro {
  gap: 16px;
}

.why-valutico-header {
  font-size: 40px;
  font-weight: 800;
  line-height: 54.64px;
  text-align: center;
}

.why-valutico-sub-header {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: #d7d7d7;
  max-width: 780px;
  margin: 0 auto;
}

.why-valutico-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 24px;
}
.why-valutico-item {
  margin-top: 30px;
  padding: 10px;
}
.why-valutico-item .heading {
  font-size: 24px;
  font-weight: 800;
  line-height: 32.78px;
  text-align: left;
}

.why-valutico-item .text {
  margin-top: 24px;
  font-size: 20px;
  color: #d7d7d7;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  max-width: 350px;
}

/* VALUATION SECTION ---------- */

.valuation {
  padding: 69px 103px 69px 103px;
  gap: 80px;
}

.valuation-intro {
  gap: 16px;
}

.valution-heading {
  font-size: 32px;
  font-weight: 800;
  line-height: 43.71px;
  text-align: center;
  color: #373737;
}

.valuation-sub-heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  margin-top: 20px;
  color: #373737;
  max-width: 900px;
  margin: 0 auto;
}

.valuation-contents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  /* margin-top: 40px; */
  /* justify-content: center; */
  padding: 69px 103px 69px 103px;
}

.valuation-content-text {
  display: flex;
  flex-direction: column;
  gap: 47px;
}

.valuation-text-item {
  padding: 32px 0px 0px 0px;
  gap: 10px;
  border-radius: 16px 0px 0px 0px;
}

.valuation-text-item .heading {
  font-size: 24px;
  font-weight: 800;
  line-height: 32.78px;
  text-align: left;
  color: #373737;
}
.valuation-text-item .paragraph {
  font-family: Manrope;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  max-width: 350px;
}

.valuation-image {
}

.valuation-image img {
  width: 731px;
  height: 693px;
  width: 100%;
  object-fit: cover;
}

.valuation-button {
  display: flex;

  justify-content: center;
  align-items: center;
  margin: 50px 0 0 0;
}

/* RESPONSIVENESS  */

@media (max-width: 834px) {
  /* NAVBAR SECTION ------------ */

  .navbar {
    padding: 40px 40px;
  }

  .logo img {
    width: 169.85px;
    height: 23px;
  }

  .navlinks ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 50vh;
    background-color: #373737;
    text-align: center;
    padding-bottom: 20px;
    gap: 20px;
    /* opacity: 0.8; */
  }

  .navlinks ul li a {
    color: #fff;
  }

  .navlinks ul .dropdown-menu ul {
    display: none;
  }
  .navlinks ul img {
    display: none;
  }

  .navlinks.active ul {
    display: flex;
    transition: all 0.3s ease;
  }

  .navbar .hamburger {
    display: block;
  }

  .navbar .hamburger.active .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .navbar .hamburger.active .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  .navbar .hamburger.active .line2 {
    opacity: 0;
  }
  .nav-btn {
    display: none;
  }

  .navbar .hamburger {
    display: block;
  }

  .hero {
    padding-top: 100px;
  }

  .hero-header {
    font-size: 40px;
    font-weight: 800;
    line-height: 64px;
    margin-top: 0px;
    max-width: 700px;
  }

  .hero-sub-header {
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    max-width: 700px;
    margin: 0 auto;
  }

  .hero-img img {
    width: 100%;
    margin-top: 0px;
  }

  .hero-img {
    width: 754px;
    height: 382px;
  }

  .trusted-by {
    margin-top: 0px;
    padding: 10px;
  }
  .trusted-by-header {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }
  .trusted-by-sub-header {
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    max-width: 650px;
  }
  .companies {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    margin: 0 auto;
  }
  .company-logo img {
    background: #f9f9f9;
    object-fit: contain;
    width: 216px;
    height: 80px;
    padding: 7px 49px 7.53px 49px;
    border-radius: 4px 0px 0px 0px;
  }

  .why-valutico-header {
    font-size: 24px;
    font-weight: 800;
    line-height: 32.78px;
  }

  .why-valutico-sub-header {
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    max-width: 700px;
  }

  .why-valutico-items {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    gap: 24px;
  }

  .why-valutico-item .text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    max-width: 500px;
    margin-top: 8px;
  }

  .valuation {
    padding: 64px 40px 64px 40px;
    gap: 32px;
  }
  .valution-heading {
    font-size: 24px;
    font-weight: 800;
    line-height: 32.78px;
    text-align: center;
    max-width: 367px;
    margin: 0 auto;
  }

  .valuation-sub-heading {
    font-size: 20px;
    font-weight: 500;
    line-height: 32.78px;
    text-align: center;
    margin-top: 0px;
    color: #373737;
    max-width: 650px;
    margin: 0 auto;
  }

  .valuation-contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    padding: 10px;
  }

  .valuation-content-text {
    gap: 0px;
  }

  .valuation-text-item {
    padding: 32px 0px 32px 0px;
    gap: 10px;
    border-radius: 16px 0px 0px 0px;
  }

  .valuation-image {
  }
  .valuation-image img {
    object-fit: cover;
    width: 369px;

    /* object-fit: contain; */
  }

  .valuation-button {
    padding: 24px 40px 24px 40px;
    gap: 16px;
    border-radius: 16px 0px 0px 0px;
  }
}

@media (max-width: 600px) {
  /* NAVBAR SECTION ------------ */

  .navbar {
    padding: 20px 20px;
  }

  .logo img {
    width: 118px;
    height: 16px;
  }

  .navlinks ul {
    display: none;
  }

  .nav-btn {
    display: none;
  }

  .navbar .hamburger .line {
    width: 25px;
  }

  .hero {
    padding-top: 80px;
  }

  .hero-header {
    font-size: 32px;
    font-weight: 800;
    line-height: 48px;
    text-align: center;
    padding: 20px;
    max-width: 400px;
  }

  .hero-sub-header {
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    max-width: 300px;
  }

  .hero-img img {
    width: 100%;
    margin-top: 0px;
  }

  .hero-img {
    width: 327px;
    height: 168px;
  }

  button {
    width: 225px;
    height: 44px;
    padding: 12px 8px 12px 8px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
  }

  .hero-buttons {
    padding: 0 20px;
    column-gap: 10px;
  }

  button.btn-primary img {
    width: 16px;
  }
  .btn-primary,
  .btn-light {
    width: 180px;
    height: 44px;
  }

  button.btn-primary .btn-text {
    width: 110px;
  }
  button.btn-light .btn-text {
    width: 110px;
    height: 20px;
  }

  .trusted-by {
    margin-top: 0px;
    padding: 10px;
  }
  .trusted-by-header {
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    max-width: 300px;
    margin: 0 auto;
  }
  .trusted-by-sub-header {
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    max-width: 280px;
  }
  .companies {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    padding: 64px 0px 64px 0px;
    gap: 8px;
  }
  .company-logo img {
    background: #f9f9f9;
    object-fit: contain;
    width: 160px;
    height: 62px;
    padding: 5px 33px 4.85px 33px;
    border-radius: 4px 0px 0px 0px;
  }

  .why-valutico {
    padding: 64px 32px 64px 32px;
    gap: 10px;
  }
  .why-valutico-header {
    font-size: 20px;
    font-weight: 800;
    line-height: 27.32px;
  }

  .why-valutico-sub-header {
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    max-width: 300px;
  }

  .why-valutico-items {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    gap: 24px;
  }

  .why-valutico-item .heading {
    font-size: 18px;
    font-weight: 700;
    line-height: 24.59px;
    text-align: left;
  }

  .why-valutico-item .text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    max-width: 280px;
    margin-top: 8px;
  }

  .valuation {
    padding: 64px 0px 64px 0px;
    gap: 16px;
  }
  .valution-heading {
    font-size: 20px;
    font-weight: 800;
    line-height: 27.32px;
    text-align: center;
    max-width: 367px;
    margin: 0 auto;
  }

  .valuation-sub-heading {
    font-size: 16px;
    line-height: 32px;
    max-width: 280px;
  }

  .valuation-contents {
    display: flex;
    flex-direction: column-reverse;
    column-gap: 16px;
    padding: 25px;
  }

  .valuation-content-text {
    gap: 0px;
  }

  .valuation-text-item {
    padding: 32px 0px 32px 0px;
    gap: 10px;
    border-radius: 16px 0px 0px 0px;
    margin: 0 auto;
  }

  .valuation-text-item .heading {
    font-size: 18px;
    line-height: 24.59px;
    text-align: left;
  }

  .valuation-image img {
    width: 329px;
    height: 310px;
  }

  .valuation-image {
    width: 329px;
    height: 310px;
    margin: 0 auto;
  }

  .valuation-button {
    margin-top: 0;
    padding: 12px 8px 12px 8px;
  }
}
